<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css?ionicCachebuster=28999" rel="stylesheet">
    <link href="css/style.css?ionicCachebuster=28999" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js?ionicCachebuster=28999"></script>
<script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js?ionicCachebuster=28999"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->


<script src="js/ng-cordova.js?ionicCachebuster=28999"></script>
<script src="cordova.js?ionicCachebuster=28999"></script>

    <!-- your app's js -->
    <script src="js/app.js?ionicCachebuster=28999"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content ng-controller="AppCtrl">
        <button class="button button-full" ng-click="registerMe()">Register me! </button>
         log: {{log}} 
      </ion-content>
    </ion-pane>
  </body>
</html>
